<template>
    <div class="container mt-4">
        <div class="row">
            <div class="col text-center">
               <h1>Componente <span class="badge bg-secondary">INICIO</span></h1>
            </div>
        </div>
    </div>
</template>